/*Vi placere teksten i midten af siden, og indstiller et billede som baggrund*/
body {
    background-image: url("../Billeder/Booking-bekræft_billede.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
}
/*Vi indstiller skrifttypen*/
{font-family: Times New Roman, sans-serif;}


h1 {
    color: white;
}

p1, p2, p3, p4 {
    color: white;
}


/*Herunder indstilles design for vores opstillede knapper - Annuller og Bekræft*/
#annuller {
    background-color: #0c0d0d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.312rem;
}
#bekræft {
    background-color: #32a7fa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.312rem;
}
