body {
    background-image: url("../Billeder/Booking-bekræft_billede.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
}


{font-family: Times New Roman, sans-serif;}

h1 {
    color: white;
}

p {
    color: white;
}

#SMS {

    background-color: #0c0d0d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}
#Email {
    background-color: #32a7fa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}
#Afbestillingsside {
    background-color: #fefefe;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


#Bekræftelse {
    background-color: #0c0d0d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}



