/*Teksten placere i midten, og vi indsætter et valgt billede som baggrund*/
body {
    background-image: url("../Billeder/Booking-bekræft_billede.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
}
/*Vi indstiller skrifttypen*/
{font-family: Times New Roman, sans-serif;}

h1 {
    color: white;
}
/*Herunder opstilles design for vores knapper - Behold, Annuller.*/
#behold {
    background-color: #32a7fa;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.312rem;

}
#annuller {
    background-color: #0c0d0d;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.312rem;
}