h1, h2, p {
    text-align: center;
}

{font-family: Times New Roman, sans-serif;}


/*Knappernes design */
#booking {
    background-color: #32a7fa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.312rem;
}

#annuller {
    background-color: #0c0d0d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.312rem;

}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    border: 1px solid black;
    margin-top: -1px; /* Prevent double borders */
    background-color: white;
    padding: 24px;
}
